@charset "UTF-8";

/* 공용 모듈 CSS - common.css */

/********************* 1. 상단영역 *********************/
html{
  scroll-behavior: smooth;
}

/*** 로고 / 햄버거버튼 박스 ***/
.topNav {
  position: fixed;
  display: flex;
  z-index: 999;
}
/* 로고 */
.logo {
  width: 150px;
}
/* 회원가입버튼 */
.myInfo {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
}
.myInfo > a {
  transform: translateY(70%);
  font-size: 22px;
  color: #fff;
}
/* 햄버거버튼 */
.btbt {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  width: 50px;
  /* width: 130px; */
}
.ham {
  position: absolute;
  /* left: 200px; */
  left: 0;
  /* left: 80px; */
  width: 50px;
  height: 50px;
  /* background-color: rgba(0, 0, 0, 0.3); */
  cursor: pointer;
}
.ham span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  height: 3px;
  background-color: #fff;
  transition: 0.3s;
}
/* 햄버거 span 초기셋팅 */
.ham span:nth-child(1) {
  top: 33%;
}
.ham span:nth-child(2) {
  top: 50%;
}
.ham span:nth-child(3) {
  top: 67%;
}
/* 햄버거 클래스 "on"추가시 */
.ham.on span:nth-child(1) {
  transform: rotate(45deg);
  top: 45%;
  left: 25%;
}
.ham.on span:nth-child(2) {
  width: 0;
}
.ham.on span:nth-child(3) {
  transform: rotate(-45deg);
  top: 45%;
  left: 25%;
}

/* 전체 네비영역 박스 */
.gnbbx {
  position: fixed;
  top: 50px;
  /* left: 0; */
  width: 0px;
  height: 100%;
  /* outline: 1px solid #000; */
  background-color: #fff;
  /* box-shadow: 0 2px 3px rgb(0, 0, 0); */
  transition: width 0.6s ease-out;
  z-index: 99;
  overflow: hidden;
}
.gnbbx.on {
  width: 330px;
}
/* 검색버튼 박스 */
.sech > div {
  font-size: 25px;
  color: #000;
  padding: 10px;
}
.sech input{
  position: absolute;
  top: 20%;
  left: 22%;
  width: 0;
  height: 40px;
  transition: .4s;
  opacity: 0;
}
.sech.on input{
  width: 200px;
  opacity: 1;
}
/* GNB 네비 */
.gnb > ul {
  display: flex;
  flex-direction: column;
}
.gnb > ul > li {
  position: relative;
  border-bottom: 1px solid #000;
  padding: 15px;
  /* overflow: hidden; */
}
.gnb > ul > li > a {
  position: relative;
  font-size: 21px;
  font-weight: bold;
  white-space: nowrap;
}

/* GNB메뉴 li에 클래스 "on"주기 */
.gnb > ul > li > a.on::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  background-color: #000;
  animation: line 0.3s linear forwards;
}
@keyframes line {
  to {
    width: 100%;
  }
}
/* GNB메뉴 li에 클래스 "on2"주기 */
.gnb > ul > li > a.on2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  right: 0;
  bottom: 0;
  background-color: #000;
  animation: line2 0.3s linear forwards;
}
@keyframes line2 {
  to {
    width: 0;
  }
}

/* 클릭방향박스 */
.arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  /* background-color: #f00; */
  top: 10px;
  right: 5%;
  cursor: pointer;
}
/* 왼쪽 */
.ar1 {
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #000;
  transform: rotate(-135deg);
  top: 50%;
  left: 2.7px;
  transition: 0.2s ease-in-out;
}
/* 오른쪽 */
.ar2 {
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #000;
  transform: rotate(135deg);
  top: 50%;
  right: 2.7px;
  transition: 0.2s ease-in-out;
}
/* 클릭시 클래스 "on"추가 */
.arrow.on .ar1 {
  transform: rotate(-45deg);
}
.arrow.on .ar2 {
  transform: rotate(45deg);
}

/* GNB 및 서브메뉴 */
.smenu > ol {
  margin-top: 5px;
  overflow: hidden;
}
.smenu > ol > li {
  font-size: 17px;
  padding: 7px;
}
.smenu > ol > li > a {
  display: block;
  transition: 0.3s ease-out;
  white-space: nowrap;
  /* font-weight: bold; */
}
/* SNS */
.sName{
  width: 100%;
  height: 100%;
  background: #f1f1f1c0;
  border-bottom: 1px solid rgba(204, 204, 204, 0.479);
  white-space: nowrap;
}
.sName p{
  font-size: 22px;
  margin: 0;
  padding: 15px 20px;
}
.sns{
  display: flex;
}
.sns li{
  /* flex: 1; */
  padding-top: 10px;
  padding-left: 25px;
}
.sns li:first-child{
  font-size: 32px;
}
.sns li:nth-child(2){
  font-size: 30px;
}
.sns li:nth-child(3){
  font-size: 30px;
}
.sns li:last-child{
  padding-top: 23px;
  padding-left: 35px;
  font-size: 12px;
  white-space: nowrap;
}
/********************* 2. 하단영역 *********************/
